// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
    font-size: 1em;
}

html {
    background: none;
    background-color: white;
}

body {
    background: none;
    background-color: white;
}


body > div > div {
    background: none;
    background-color: white;
}

body > header{
    background-color: white;
}

body > footer {
    background: none;
    background-color: white;
}
